.mainPage {
  background-color: black;
}



.bannerMain {

  color: white;

  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 520%;

  background-color: black;
  font-family: 'Alata', sans-serif;
  
  display:flex;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    position: fixed;
}

.leftButton {
  color: white;
}